/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
ul[class],
ol[class] {
  list-style: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a{
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
}
button{
    cursor: pointer;
    border: 1px solid transparent;
}

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.ttf);
    font-weight: 400;
}
body{
    font-family: Inter, Helvetica, sans-serif;
    background: #f1f1f1;
}
.container {
    max-width: 1238px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}


.advantages-section{
    margin-bottom: 50px;
}
.advantages__holder-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.title{
    font-size: 20px;
   
    margin-bottom: 43px;
    line-height: 110%;
    font-weight: 700;
    color: #212121;
    margin-bottom: 16px;
}
.advantages__holder-content-item{
    background: #fff;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    height: auto;
    min-height: 187px;
    border-radius: 16px;
    padding: 10px;
}
.advantages__holder-content-item img{
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
.advantages__holder-content-item div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #212121;
}
.advantages__holder-content-item div span{
    font-weight: 700;
    line-height: 110%;
    
    font-size: 18px;
}
.advantages__holder-content-item div p{
    line-height: 130%;
    font-size: 14px;
}
.stage{
    background-color: #fff;
}
.stage__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    position: relative;
}

.stage__container h2{
    font-weight: 400;
    font-size: 39px;
    line-height: 50px;
    text-align: center;
    color: #5AA14D;
    margin-bottom: 65px;

}

.stage__container-wrap{
    display: flex;
    align-items: stretch;
    max-width: 90%;
    gap: 40px;
}
.stage__container-wrap-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 460px;
    width: 100%;
}
.stage__container-wrap-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #D6F5D2;
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #333333;
    padding: 15px;
    cursor: pointer;
}
.stage__container-wrap-list-item.active{
    background: #D6F5D2;
    border-color: #D6F5D2;
}
.stage__container-wrap-content{
    display: none;
    flex-direction: column;
    max-width: 732px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 15px;
    padding: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    gap: 25px;
}

.stage__container-wrap-content img{
    border-radius: 10px;
    min-height: 196px;
    max-height: 196px;
    height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.stage__container-wrap-content h3{
    font-weight: 450;
    font-size: 25px;
    line-height: 31px;
}
.stage__container-wrap-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.stage__container-wrap-content .btn{
    max-width: 230px;
    width: 100%;
    padding: 8px 20px 8px;
    background-color: #509B43;
    opacity: 0.82;
    text-align: center;
    display: block;
   transition: .3s ease;
   color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin-top: auto;
}
.stage__container-wrap-content .btn:hover{
   opacity: 1;
}

.stage__container-buttons{
    width: 100%;
    position: absolute;
    top: 50%;
    
}
.stage-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    cursor: pointer;

}

.stage-btn.left{
    background: url(./images/step-left.png) center center / cover no-repeat;
}
.stage-btn.right{
    background: url(./images/step-right.png) center center / cover no-repeat;
    left: inherit;
    right: 0;
}
@media screen and (min-width: 768px){
    .advantages-section{
        margin-bottom: 60px;
    }
.title {
    font-size: 30px;
    margin-bottom: 30px;
}
.advantages__holder-content-item  {
    padding: 20px;
    border-radius: 24px;
    
}
}

@media screen and (min-width: 1024px){
    .advantages-section{
        margin-bottom: 70px;
    }
    .title {
        font-size: 40px;
        margin-bottom: 43px;
    }
  
}
@media screen and (min-width: 1440px){
    .advantages-section{
        margin-bottom: 108px;
    }
  
}
@media screen and (max-width:1023px) {
    .stage__container-wrap {
        flex-direction: column;
        max-width: 100%;
        width: 90%;
        align-items: center;
    }
    .stage__container-wrap-list {
        overflow: hidden;
        overflow-x: scroll ;
        flex-direction: row;
        max-width: 100%;

    }
    .stage__container-wrap-list-item {
       min-width: fit-content;
    }
}
@media screen and (max-width:768px) {
    .advantages__holder-content{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    
    }
    .advantages__holder-content-item  {
        padding: 20px;
        border-radius: 24px;
        height: 100%;
    }

}
@media screen and (max-width:440px) {
    .advantages__holder-content{       
        grid-template-columns:  1fr;
    
    }
    
}
@media screen and (max-width:368px) {
    .advantages__holder-content-item div span {
        font-size: 16px;
    }
    .advantages__holder-content-item div p{
        font-size: 12px;
    }
    
}
